.company_logo {
	float: left;
	width: 120px;
}

.nav_menu {
	float: right;
}

.nav_menu a {
	text-decoration: none;
	color: rgb(167, 161, 161);
	font-family: sans-serif;
}

.nav_menu a:hover {
	background: black;
	color: white;
	padding: 2px;
	border-radius: 4px;
}

.informational {
	clear: both;
}

.blooper_reel {
	width: 50%;
}